body{
    font-family: "Orbitron", sans-serif;
    text-align: center;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 0;
    justify-content: center;
    margin: 0 auto;

}

.cell {
    width: 100px;
    height: 100px;
    background-color: #c5c2c2;
    border: 1px solid #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover {
    background-color: #07f107;
}